/*CSS Pertemuan ke 2*/
.produk{
    border: 2px solid black;
    background: url(img/back.jpg);
    background-size: cover;
    padding-bottom: 550px;
}

.gambar{
    position: relative;
    top: 20px;
    float: left;
    left: 40px;
}

.gambar2{
    position: relative;
    top: 20px;
    float: left;
    left: 45px;
}

.gambar3{
    position: relative;
    top: 175px;
    float: left;
    right: 260px;
}

.gambar4{
    position: relative;
    top: 175px;
    float: left;
    right: 255px;
}

.judul{
    position: relative;
    float: left;
    left: 27%;
    bottom: 140px;
}

.harga{
    font-size: 10px;
    position: relative;
    top: 65px;
    right: 210px;
    text-decoration: line-through;
    color: #929292;
}

.harga2{
    font-size: 20px;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    color: #ee4d2d;
    position: relative;
    right: 130px;
    top: 18px;
}

.diskon{
    font-size: 12px;
    position: relative;
    float: left;
    right: 250px;
    bottom: 77px;
    color: #fff;
    text-transform: uppercase;
    background: rgb(238, 77, 45);
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 2px 4px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    font-weight: 600;
}

.page_deskripsi{
    position: relative;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125px;
    overflow: hidden;
    background:rgb(255, 255, 255);
    width: 51.5%;
    bottom: 100px;
    float: left;
    left: 390px;
    padding: 4px 6px;
    padding-top: 100px;
    padding-right: 5px;
    padding-bottom: 400px;
    padding-left: 6px;
}

.page_produk{
    position: relative;
    font-family: 'Roboto';
    float: left;
    left: 415px;
    bottom: 580px;
    background: rgba(0,0,0,.02);
    width: 47.7%;
    color: rgba(0,0,0,.87);
    font-size: 18px;
    padding: 4px 6px;
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 8px;
    text-transform: capitalize;
    line-height: 1;
}

.spesifikasi_produk{
    position: relative;
    float: left;
    right: 220px;
    bottom: 530px;
}

.page_produk1{
    position: relative;
    font-family: 'Roboto';
    float: left;
    left: 415px;
    bottom: 520px;
    background: rgba(0,0,0,.02);
    width: 47.7%;
    color: rgba(0,0,0,.87);
    font-size: 18px;
    padding: 4px 6px;
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 8px;
    text-transform: capitalize;
    line-height: 1;
}

.deskripsi_produk{
    position: relative;
    float: left;
    right: 220px;
    bottom: 475px;
}

.button{
    position: relative;
    font-family: 'Roboto';
    float: left;
    left: 945px;
    bottom: 490px;
    background: #ee4d2d;
    width: 8.3%;
    font-size: 18px;
    padding: 4px 6px;
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 8px;
    text-transform: capitalize;
    line-height: 1;
}

/*CSS Pertemuan ke 3*/

/*Background*/
.background{
    background: #FFB53E;
}

/*Mobile Device*/
.section-atas{
    text-align: center;
    color: #2D1D46;
}

.section-tengah{
    display: flex;
    border-collapse: collapse;
    justify-content: center;
}

table, th, td{
    display: block, flex;
    border: 0;
}

.section-bawah{
    display: grid;
    justify-content: flex-start;
    border: 1px solid black;
}

.pendidikan, .skill, .organisasi, .sosmed, .motivasi{
    color: #2D1D46;
    display: grid;
    justify-content: flex-start;
}

/*Tablet Device*/
@media(min-width: 768px) and (max-width: 992px){
    .section-atas{
        color: #5017FF;
    }
    .pendidikan, .skill, .organisasi, .sosmed, .motivasi{
        color: #5017FF;
    }
}

/*Desktop Device*/
/*Media Query*/
@media(min-width: 992px){
    .section-atas{
        color: rgba(180, 77, 8, 0.822);
    }

    .section-tengah{
        display: flex;
        justify-content: start;
    }

    table, th, td{
        border: 1px solid black;
    }

    .section-bawah{
        display: flex;
        justify-content: center;
    }

    .pendidikan, .skill, .organisasi, .sosmed, .motivasi{
        color:rgba(180, 77, 8, 0.822);
        display: flex;
        justify-content: start;
    }
}


/*CSS Pertemuan ke 4*/

.tampilan {
    margin: 0; 
    padding: 0;
}

/*Background*/
.bg {
    background-image: url('img/backkotak.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/*Mobile Device*/
@media(max-width: 768px) {
    .ikon {
        padding-top: 35px;
        text-align: center;
    }
    
    .today{
        display: flex;
        justify-content: center;
        font-family: montserrat;
        color: goldenrod;
        padding-top: 40px;
        font-weight: bolder;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }
    .responsive {
        display: block;
        text-align: center;
        font-family: montserrat;
        color: whitesmoke;
        font-weight: bold;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }
    
    .responsive-jam{
        display: flex;
        justify-content: center;
        color: whitesmoke;
        font-size: 1.5rem;
        font-family: montserrat;
        font-weight: bold;
        text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.767);
    }
    
    .note {
        display: flex;
        justify-content: center;
        color: wheat;
        font-size: 12px;
        font-family: monospace;
        padding-top: 20px;
        text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.767);
    }
    
    .klik {
        display: flex;
        justify-content: center;
    }
    
    .link-awal {
        display: flex;
        justify-content: center;
        color: #FFB53E;
        font-size: 12px;
        padding-top: 30px;
        font-family: monospace;
    }
    
    .hak-cipta {
        display: flex;
        justify-content: center;
        color: white;
        font-family: montserrat;
        font-size: 12px;
        padding-top: 5px;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.767);
    }
}

/*Tablet Device*/
@media(min-width: 768px) and (max-width: 992px) {
    .ikon {
        padding-top: 35px;
        text-align: center;
    }
    
    .today{
        display: flex;
        justify-content: center;
        font-family: montserrat;
        color: green;
        padding-top: 25px;
        font-weight: bolder;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }
    .responsive {
        display: block;
        text-align: center;
        font-family: montserrat;
        color: green;
        font-weight: bold;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }
    
    .responsive-jam{
        display: flex;
        justify-content: center;
        color: green;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: montserrat;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }
    
    .note {
        display: flex;
        justify-content: center;
        color: wheat;
        font-size: 14.5px;
        font-family: monospace;
    }
    
    .klik {
        display: flex;
        justify-content: center;
    }
    
    .link-awal {
        display: flex;
        justify-content: center;
        color: yellow;
        font-size: 12px;
        padding-top: 25px;
        font-family: monospace;
    }
    
    .hak-cipta {
        display: flex;
        justify-content: center;
        color: white;
        font-family: montserrat;
        font-size: 12px;
        padding-top: 5px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }
}

/*Desktop Device*/
/*Media Query*/
@media(min-width: 992px) {
    .ikon {
        padding-top: 25px;
        text-align: center;
    }

    .today{
        display: flex;
        justify-content: center;
        padding-top: 35px;
        color: yellow;
        font-family: montserrat;
        text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.767);
    }
    .responsive{
        display: block;
        text-align: center;
        font-weight: bold;
        font-family: montserrat;
        color: yellow;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }

    .responsive-jam {
        display: flex;
        justify-content: center;
        font-family: montserrat;
        font-weight: bolder;
        word-spacing: 2px;
        color: yellow;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }

    .note {
        display: flex;
        justify-content: center;
        color: wheat;
        font-size: 15px;
        padding-top: 10px;
        font-family: monospace;
    }

    .klik {
        display: flex;
        justify-content: center;
    }

    .link-awal {
        display: flex;
        color: whitesmoke;
        justify-content: center;
        font-size: 15px;
        padding-top: 30px;
        font-family: monospace;
    }

    .hak-cipta {
        display: flex;
        justify-content: center;
        color: white;
        font-family: montserrat;
        font-size: 15px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    }

    #jam span {
        font-size: 20px;
        letter-spacing: 1px;
    }

    span.turn {
        animation: turn 0.7s ease;
    }
      
     @keyframes turn {
        0% {transform: rotateX(0deg)}
        100% {transform: rotateX(360deg)}
    }
}